<!DOCTYPE html>
<html lang="en">
<body style="background-color:powderblue;">
<center>
<head>
    <meta charset="UTF-8">
    <title>What course do you want to be notified about?</title>
    <h1 style="font-family: Tahoma"> What course do you want to be notified about?</h1>

        <form method="POST">
            <b style="font-family: Tahoma">Term  : (e.g.: Winter 2022) </b><input name="term">
            <br>
            <b style="font-family: Tahoma">Subject: (e.g.: MECH) <input name="subject">
            <br>
            <b style="font-family: Tahoma">Course: (e.g.: 360)</b><input name="course">
            <br>
            <b style="font-family: Tahoma">email</b><input name="email">
            <br>
            <input type="submit">


            </b>
        </form>

</head>

</center>
</body>
</html>